@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900&display=swap");

@font-face {
  font-family: "NeueKabel";
  src: url("Fonts/NeueKabel-Black.otf") format("opentype"),
    url("Fonts/NeueKabel-Medium.otf") format("truetype");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "Giphurs";
  src: url("Fonts/Giphurs-Black.otf") format("opentype"),
    url("Fonts/GiphursSC-Medium.otf") format("truetype");
  font-weight: 50;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  /*overflow-x: hidden;*/
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.titulopagina {
  font-family: "Giphurs", sans-serif;
  color: #ffffff;
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 35px;
  width: 100%;
}

.emojiplaneta {
  position: relative;
  top: 0px;
  left: -82px;
  font-size: 45px;
  width: 100%;
}

.imagemcontainer {
  display: flex;
  font-family: "Giphurs", sans-serif;
  color: #ffffff;
  font-size: 45px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450.68px;
  background-image: url("./Img/sistemasolar.png");
  background-attachment: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.conteudo-texto,
.ordem-planeta {
  z-index: 2;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: normal;
  color: #1b1b1b;
  /* text-align: justify; */
  line-height: 1.3;
  text-indent: 15px;
  margin: 0 auto; /* centralizando horizontalmente */
  margin-bottom: 10px;
  padding: 0 15px;
  padding-top: 35px;
  max-width: 800px; /* limitando o width máximo do texto */
  position: relative;
}

h3,
h4 {
  font-family: "Inter", serif;
  font-size: 50px;
  font-weight: bolder;
  color: #1b1b1b;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  z-index: 2;
}

p {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: normal;
  color: #1b1b1b;
  line-height: 1.3;
  text-indent: 15px;
  position: relative;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  z-index: 2;
}

/* ADICIONANDO IMAGENS */
.Imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: auto;
}
.Imgs img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* BOTÃO */

button {
  padding-inline: 25px;
  border-radius: 5px;
  border: 2px solid rgb(119, 0, 255);
  font-size: 14px;
  font-weight: 100px;
  height: 45px;
  width: 245px;
  padding-right: auto;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(98, 0, 255);
  box-shadow: 0 0 10px 5px rgba(90, 0, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 2px;
  height: auto;
  position: relative;
  top: 4%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* BLACK BOX EMBAIXO */

.fimdapágina {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-family: "Inter", serif;
  font-size: 20px;
  font-weight: normal;
}

@media screen and (min-width: 1235px) and (max-height: 1117px) {
  .textocaixatitulo {
    left: 20px;
    top: 80px;
  }
}
